1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [35]:
a = []
for i in range(1,101):
    if i%5 == 0 and i%3 == 0:
        i="MickeyMouse"
    elif i%5 == 0:
        i="Mouse"
    elif i%3 == 0:
        i="Mickey"
    #print(i)
    a.append(i)
print(a)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [44]:
#tupla = tuple(a)

#print(tupla)
b=[]
for i in range(len(a)):
    if a[i] == "Mickey":
        i="Donald"
    elif a[i] == "Mouse":
        i="Duck"
    else:
        i=a[i]
    b.append(i)
print(tuple(b))

(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [1]:
valore_x = input("Inserisci un numero o una stringa per la x: ")
valore_y = input("Inserisci un numero o una stringa per la y: ")
a=[]
a.append(valore_x)
a.append(valore_y)
b=[a[1],a[0]]
print("valore_y_x=", b[0], "valore_x_y=", b[1])

Inserisci un numero o una stringa per la x: 9
Inserisci un numero o una stringa per la y: 6
valore_y_x= 6 valore_x_y= 9

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [2]:
import numpy as np
#x1, y1 = input("Enter coords here w/ a comma between: ").split(',')
#x2, y2 = input("Enter coords here w/ a comma between: ").split(',')

#x1, y1 = [float(x1), float(y1)]
#x2, y2 = [float(x2), float(y2)]

#print(x1, y1)
#print(x2, y2)


#x1, y1 = [int(x) for x in input("Inserisci le coord del punto: ").split()]
#x2, y2 = [int(x) for x in input("Inserisci le coord del punto: ").split()]

#x1,y1 = input("inserisci le coord del primo punto separate da una virgola:")
#x2,y2 = float(input("inserisci le coord del secondo punto separate da una virgola:"))

#define function
def euclidean_distance(x1, y1, x2, y2):
    try:
        dist = np.sqrt(np.sum((x1-y1)**2+(x2-y2)**2))
        return dist
        #print("The euclidean distance is: %.2f" % dist)
    #if the input isn't a number
    except:
        print("The arguments must be floats or ints")

#inputs        
x1, y1 = input("Enter coords here w/ a comma between: ").split(',')
x2, y2 = input("Enter coords here w/ a comma between: ").split(',')

#make them floats
x1, y1 = [float(x1), float(y1)]
x2, y2 = [float(x2), float(y2)]

#print the distance value
distance = euclidean_distance(x1, y1, x2, y2)
print("The euclidean distance is: %.2f" % distance)

Enter coords here w/ a comma between: 3,0
Enter coords here w/ a comma between: 0,4
The euclidean distance is: 5.00

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [51]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [33]:
#First method: counts the occurence of the character given in the func

def count(s, c) :
     
    # Count variable
    res = 0
     
    for i in range(len(s)) :
        s = s.lower() 
        # Checking character in string
        if (s[i] == c):
            res = res + 1
    return res

print(count(s, 'a'))

7

In [37]:
#Second method: using count() and set()
  
# initializing string 
inp_str = s.lower()
  
# using set() + count() to get count of each element in string 
out = {x : inp_str.count(x) for x in set(inp_str )} 
  
# printing result 
print ("Occurrence of all characters in string is :\n "+ str(out))

Occurrence of all characters in string is :
 {'.': 2, 'v': 2, '1': 2, 'w': 2, 'i': 14, 'g': 1, ' ': 41, 'b': 5, 'n': 10, 'p': 8, 'h': 9, '0': 2, 's': 9, 'y': 2, 'a': 7, 'k': 2, 'e': 22, 'm': 12, 'o': 13, 'u': 9, 't': 19, 'd': 3, 'c': 3, 'f': 10, 'r': 17, 'l': 6}

In [50]:
#Third method: using a dictionary

# initializing string 
inp_str = sorted(s.lower())

#frequency dictionary
freq = {} 
    
for ele in inp_str: 
    if ele in freq: 
        freq[ele] += 1
    else: 
        freq[ele] = 1
    
# printing result  
print ("Occurrence of all characters in string is :\n "+ str(freq))

Occurrence of all characters in string is :
 {' ': 41, '.': 2, '0': 2, '1': 2, 'a': 7, 'b': 5, 'c': 3, 'd': 3, 'e': 22, 'f': 10, 'g': 1, 'h': 9, 'i': 14, 'k': 2, 'l': 6, 'm': 12, 'n': 10, 'o': 13, 'p': 8, 'r': 17, 's': 9, 't': 19, 'u': 9, 'v': 2, 'w': 2, 'y': 2}

In [54]:
#Fouth method: using collection (can't sort alphabetically)

from collections import Counter 
    
# initializing string  
in_str = sorted(s.lower())
    
# using collections.Counter() to get  
# count of each element in string  
out = Counter(in_str) 
    
# printing result  
print ("Occurrence of all characters in string is :\n "+ str(out))

Occurrence of all characters in string is :
 [' ', '.', '0', '1', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'y']

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [56]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [58]:
inp_lst = sorted(l)

freq = {} 
    
for ele in inp_lst: 
    if ele in freq: 
        freq[ele] += 1
    else: 
        freq[ele] = 1
print ("Occurrence of numbers in list is :\n "+ str(freq))

Occurrence of all characters in string is :
 {1: 1, 3: 2, 5: 1, 8: 1, 9: 1, 10: 1, 16: 1, 18: 1, 19: 1, 20: 3, 24: 1, 30: 1, 31: 2, 33: 1, 34: 2, 36: 3, 37: 1, 39: 1, 41: 1, 42: 2, 45: 3, 47: 1, 50: 2, 51: 3, 53: 1, 54: 1, 55: 1, 56: 2, 57: 1, 58: 1, 63: 2, 64: 1, 66: 2, 70: 3, 72: 1, 74: 1, 75: 1, 79: 1, 81: 1, 82: 1, 84: 4, 85: 3, 86: 1, 87: 1, 88: 1, 89: 2, 90: 1, 91: 3, 92: 1, 94: 1, 95: 1, 96: 1, 98: 1, 99: 1}

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [68]:
def square(x):
    quad = x**2
    return quad

def cube(x):
    cubo = x**3
    return cubo

def sixth(x):
    c = cube(square(x))
    return c

x = float(input("Insert number to be raised: x="))

s = sixth(x) 
print("The sixth power of ", x, "is: ", s)

Insert number to be raised: x=2
The sixth power of  2.0 is:  64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [78]:
a = []
for x in range(0, 10+1):
    cube = x**3
    a.append(cube)
    print(str(x)+"^3" , "=", a[x])

0^3 = 0
1^3 = 1
2^3 = 8
3^3 = 27
4^3 = 64
5^3 = 125
6^3 = 216
7^3 = 343
8^3 = 512
9^3 = 729
10^3 = 1000

In [79]:
lst=[0,1,2,3,4,5,6,7,8,9,10]

cube_lst=[x**3 for x in lst]

print(cube_lst)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [107]:
#sbagliata perché non sapevo la formula 

a, b, c = [*range(0, 100)], [*range(0, 100)], [*range(0, 100)]

for i in a:
    if a[i]**2 + b[i]**2 == c[i]**2:
        print ((a[i], b[i], c[i]))
    else:
        break

(0, 0, 0)

In [1]:
limit=int(input("Enter upper limit:"))
c=0
m=2
while c<limit:
    for n in range(1,m+1):
        #The idea is to use square sum relation of Pythagorean triplet, 
        #i.e., addition of squares of a and b is equal to square of c, 
        #we can write these number in terms of m and n such that
        a=m*m-n*n
        b=2*m*n
        c=m*m+n*n
        if c>limit:
            break
        elif a==0 or b==0 or c==0:
            break
        print(a,b,c)
    m=m+1

Enter upper limit:100
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [21]:
input_a = [float(input_a) for input_a in input("Enter numbers here w/ a comma between: ").split(',')]

#print(input_a)

#input_a=[2,3,4,5,6,83939.4940]

for i in range(len(input_a)):
    print (input_a[i]/input_a[i])

Enter numbers here w/ a comma between: 2,3,4,89.999
[2.0, 3.0, 4.0, 89.999]
1.0
1.0
1.0
1.0

In [ ]:
def normalize(input_lst):
    for i in range(len(input_lst)):
        return (input_list[i] / input_lst[i])
       
    
input_lst = [float(input_lst) for input_lst in input("Enter numbers here w/ a comma between: ").split(',')]

normalized = normalize(input_lst)

print(normalized)

##TypeError: unsupported operand type(s) for /: 'list' and 'float'
##even if in the 1st method the error doesnt appear